[submodule "public/panel"]
	path = public/panel
	url = https://github.com/getkirby/panel.git
[submodule "public/kirby"]
	path = public/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "public/site/plugins/feed"]
	path = public/site/plugins/feed
	url = https://github.com/getkirby-plugins/feed-plugin.git
