[submodule "public/kirby"]
	path = public/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "public/panel"]
	path = public/panel
	url = https://github.com/getkirby/panel.git
[submodule "public/site/plugins/feed"]
	path = public/site/plugins/feed
	url = https://github.com/getkirby-plugins/feed-plugin.git
[submodule "public/site/fields/markdown"]
	path = public/site/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "public/site/plugins/imagekit"]
	path = public/site/plugins/imagekit
	url = https://github.com/fabianmichael/kirby-imagekit.git
